{% extends "dashboard.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check friends</title>

    
</head>

    
{% block main %}
<body >
<p style="font-weight: 700;font-size: larger;">Your Friend List</p>
{% if my_friends %}
    {% for friend in my_friends %} 
    <p style="font-weight: 700;">
        Name: {{friend.username}}<br/>
        Course: {{friend.course}}<br/>
        College: {{friend.college}}<br/>
        {% if friend.images %}
        </p>
        <img src="..\media\{{friend.images}}" width="200" height="200" style="border:10px solid blue">
                
        {% endif %}
        <form style="align-items: start;" action="/del_friend/" method="POST">
            {% csrf_token %}
            <input type="text" name="my_friend" value={{friend.email}} style="display: none;">
            <input type="submit" class="btn  btn-primary mt-2" value="Remove {{friend.username}}"></input>
        </form>
        <br/>
    {% endfor %} 
{% endif %}
</body>
{% endblock main %} 


</html>
