{% extends "dashboard.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% block main %}
{% if requests %} 
    <h4>Friend Requests</h4>
    {% for i in requests %}
        {% for j in allusers %} 
            {% if i.email2 == j.email %} 
                <p>{{j.username}}</p>
                <form method="POST" action="/rej_acc1/">
                    {% csrf_token %}
                <input type="text" value="{{j.email}}" name="reqfriend" style="display:none;">
                <input type="submit" value="Accept">
                </form>
                <form method="POST" action="/rej_acc2/">
                    {% csrf_token %}
                <input type="text" value="{{j.email}}" name="reqfriend" style="display:none;">
                <input type="submit" value="reject">
                </form>
                <br/>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock main %}
</body>
</html>