<html>
<body>
{% extends "dashboard.html" %}
{%block main%}

        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
             
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="mypost" name="mypost" required>
            <label class="custom-file-label" for="mypost">Select file</label>
        </div>
          
        Caption: <input type="text" placeholder="Enter caption" name ='caption'>
        <button type="submit" class="btn btn-sm btn-primary mt-2">Submit</button>

        </form>
        <div>{{info2}}</div>
        {% if my_post %}
        <div><img height=90 width =90 src='..\media\posts\{{my_post}}'></div>
        {% endif %}
{%endblock main%}
</body>
</html>