<html>

<head>
  <script>
    function filevalid() {
      var input = document.getElementById('mypost');
      var path = input.value;
      var allowedExtensions = /(\.jpg|\.jpeg|\.png|\.mp4)$/i;
      if (!allowedExtensions.exec(path)) {
        alert("Invalid file input");
        input.value = '';
        return false;
      }
      else
        return true;
    }

  </script>
</head>

<body>
  {% extends "dashboard.html" %}
  {%block main%}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}


    <input type="file" id="mypost" name="mypost" onchange="return filevalid();" required>
    <label for="mypost">Select file</label>


    Caption: <input type="text" placeholder="Enter caption" name='caption'>
    <button type="submit" class="btn  btn-primary mt-2">Post</button>

  </form>
  <h4>{{info2}}</h4>
  {% if my_post %}
  {% if category == 'image' %}
  <div><img height=100 width=100 src='..\media\posts\{{my_post}}' id="disp">
    {% endif %}
    {% if category == 'video' %}
    <video id="disp2" width="320" height="240" controls>
      <source src='..\media\posts\{{my_post}}' type="video/mp4">
    </video>
    {% endif %}
  </div>
  {% endif %}
  {%endblock main%}
</body>

</html>