<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body style="font-size:30;font-style:medium;font-weight: 700;">
    {% extends "dashboard.html" %}
{%block main%}
Username : {{ my_profile.username}} <br/>
Gender : {{my_profile.gender}}<br/>
College: {{my_profile.college}}<br/>
Course: {{my_profile.course}}<br/>
Date: {{my_profile.date}}<br/>
Phone number: {{my_profile.phone}}<br/>
<img src="..\media\{{my_profile.images}}" width="100" height="100">
<br/>
My posts : 
{% if my_posts %}
{% for p in my_posts %}
<img src="..\media\{{p.posts}}" width="200" height="400">
<br/>
Caption: {{p.caption}}
<br/>
{% endfor %}
{% endif %}
{%endblock%}
</body>
</html>